<nav id="side-nav">
  <div id="qp-logo-wrapper">
    <img id="qp-logo" src="../../assets/QPLogo.png" width="50">
  </div>
  <div class="nav-group">
    <div class="nav-group-name">
      <span>Games</span>
    </div>
    <div class="nav-item" routerLink="/create" routerLinkActive="active">
      <span class="nav-item-icon"><i class="fas fa-plus-square nav-item-icon-copy"></i></span>
      <span>Create Contest</span>
    </div>
    <div class="nav-item" routerLink="/update" routerLinkActive="active">
      <span class="nav-item-icon"><i class="fas fa-gavel nav-item-icon-copy"></i></span>
      <span>Update Games</span>
    </div>
    <div class="nav-item" routerLink="/view" routerLinkActive="active">
      <span class="nav-item-icon"><i class="fas fa-eye nav-item-icon-copy"></i></span>
      <span>View Contests</span>
    </div>
    <div class="nav-item" routerLink="/prize" routerLinkActive="active">
      <span class="nav-item-icon"><i class="fas fa-trophy nav-item-icon-copy"></i></span>
      <span>Adjust Prizes</span>
    </div>
  </div>
  <div class="nav-group">
    <div class="nav-group-name">
      <span>Users</span>
    </div>
    <div class="nav-item">
      <span class="nav-item-icon"><i class="fas fa-plus-square nav-item-icon-copy"></i></span>
      <span>Search</span>
    </div>
    <div class="nav-item" routerLink="/requests" routerLinkActive="active">
      <span class="nav-item-icon"><i class="fas fa-money-check-alt nav-item-icon-copy"></i></span>
      <span>Prize Requests</span>
    </div>
  </div> 
</nav>